@import '../../../styles/colors';

#addHusbandWifeInfoModal {
    .modal-content {
        .modal-header {
            background-color: @dark-indigo;
            .close-image {
                cursor: pointer;
            }
            p {
                font-size: 20px;
                font-weight: 600;
                text-align: left;
                color: white;
                display: inline-block;
                margin-bottom: 0;
            }
        }
        .modal-body {
            .custom-date-class {
                input {
                    background-color: white;
                }
            }
            .confirm-button, .close-button {
                height: 50px;
                width: 49%;
                background-color: #cb0370;
                border-color: #cb0370;
                text-transform: uppercase;
            }
        
            .confirm-button {
                margin-right: 2%;
            }
        }
    }
}